/* Global */

/* Hyperlinks */
.dialog-off-canvas-main-canvas a,
.dialog-off-canvas-main-canvas a:visited {
  color: crimson;
}

.dialog-off-canvas-main-canvas a:active,
.dialog-off-canvas-main-canvas a:focus,
.dialog-off-canvas-main-canvas a:focus-within,
.dialog-off-canvas-main-canvas a:hover {
  text-decoration: underline;
  color: darkred;
}

/* Menu */
header#navbar {
  min-height: 42px;
  background-color: #333;
}

header#navbar a {
  padding: 10px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

header#navbar a.is-active {
  background-color: firebrick;
}

header#navbar li:hover {
  background-color: firebrick;
}
